<!DOCTYPE html>
<html>
	<head>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Hajj &amp; Umrah packages from Tour Operators in Mumbai | Atlas </title>
<meta name="description" content="We are one of the leading tour operators for Haj and Umrah tours in Mumbai. We also offer tour packages to leading destinations around the world. "/>
<meta name="keywords" content="Haj tour, Umrah tour, Ziyarat tour, Umrah tour operator, Umrah tour operators Mumbai"/>
<meta name="msvalidate.01" content="DE2EC3871305B0F78E76DA5170B07419" />
<link href="css/bootstrap.css" rel="stylesheet" media="screen" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
<link href="css/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen" />
<link href="css/font-awesome.css" rel="stylesheet" media="screen" />

<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" /> <!-- prettyPhoto -->

	<!--[if IE 7]>
				<link rel="stylesheet" href="css/font-awesome-ie7.css">
			<![endif]-->
<!--[if IE 7]>
				<link rel="stylesheet" href="css/main-ie7.css">
			<![endif]-->
<link href="css/main.css" rel="stylesheet" media="screen" />
<link href="css/media.css" rel="stylesheet" media="screen" />
<link href="css/menu.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" media="screen" href="css/sequence-slider.css" />
 <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,600,300italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,300,500,600,700,300italic' rel='stylesheet' type='text/css' />	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
<!--<script type='text/javascript'>
$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});
</script>-->
    <script type='text/javascript' src='wp-includes/js/jquery/jquery4511.js'></script>
<script type="text/javascript" src="/ScriptLibrary/jquery-latest.pack.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>


<script src="src/skdslider.js"></script>
<link href="src/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#main-slier').skdslider({'delay':4000, 'fadeSpeed': 2000,'showNextPrev':true,'showPlayButton':false,'autoStart':true});
		});
</script>
<style>
.pagekage-hover > p{
line-height:normal;
}
</style>
<script>
$(".pagekage-hover").click(function(){
    window.location=$(this).attr("http://google.com");
     return false;
});
</script>

  <script type="text/javascript" src="js/sld/jquery.gmap.min.js"></script>
  <script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>

<link href="src/chrome.css" type="text/chrome/safari" rel="stylesheet">
<script type="text/javascript">
if (navigator.userAgent.toLowerCase().indexOf('chrome')!=-1){
    document.write('<link rel="stylesheet" type="text/chrome/safari" href="css/chrome.css"/>');
}
</script>

<style type="text/css">
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup {
  background-color: rgba(0, 0, 0, 0.8) !important;
  display: none;
  height: 100% !important;
  left: 0 !important;
  margin: 0 auto;
  position: fixed;
  top: 0 !important;
  width: 100% !important;
  z-index: 2147483647;
}
.cnt223{
min-width: 950px;
width:950px;
min-height: 150px;
margin: 16px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
top:50px;
}
.cnt223 p{
clear: both;
color: #555555;
text-align: justify;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x {
float: right;
height: 74px;
position: absolute;
right: -67px;
top: 0;
width: 74px;
}
.cnt223 .x:hover{
cursor: pointer;
}
.bigscreens{ width:100%}

@media screen and (min-width:950px) and (max-width:2920px) {
.bigscreens{ width:100%}

}
@media screen and (min-width:670px) and (max-width:949px){

.cnt223{
min-width: 650px;
width: 650px;
min-height: 150px;
margin: 16px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.bigscreens{ width:100%}

.cnt223 .x {
  float: right;
  height: 60px;
  position: absolute;
  right: 0;
  top: -32px;
  width: 60px;
}
}
@media screen and (min-width:320px) and (max-width:669px){
.cnt223{
background: #f3f3f3 none repeat scroll 0 0;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
margin: 16px auto;
min-height: auto;
min-width: 90% !important;
padding: 10px;
position: relative;
width: 90% !important;
z-index: 103;
}
.bigscreens{ width:100%}

.cnt223 .x {
  float: right;
  height: 40px;
  position: absolute;
  right: 0;
  top: -32px;
  width: 40px;
}
</style>


<script src="https://www.google.com/recaptcha/api.js"></script>
	</head>

	<body class="homepage-css">

   <!-- <div class='popup'>
<div class='cnt223'>
<img src="popup/close.png" alt='quit' class='x' id='x' />

<a target="_blank" href="umrah.html">
<img class="bigscreens" src="popup/Umrah-Super-Saver.jpg" />

</a>

</div>
</div>-->


     <!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/54e609ce577853203eb4d145/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

    <!--<div class="leave">
    	<div class="call">
        <strong>Need Help?  Call us at</strong>
        <i class="fa fa-phone"></i> <span>(91-22) 6141 1000</span></div>
    </div> -->


    <div id="popup_form" class="popup_form" style="display:none;">
    <div class="quick_form">


                         <div class="thankyou">
                         	<strong>Thank you for inquiring with us</strong>
<span>One of our Umrah expert will get back to you shortly</span>
                         </div>


                        <h3>Call Back Request For Umrah 2015 <small>Please fill up the form below to get a call from us</small></h3>
                         	<form  action="thank.asp" method="post">
                              <input required class="span12" type="text" name="name" id="name" placeholder="* Enter your name" >
                              <input required class="span12" type="text" name="email" id="name" placeholder="* Enter your Email" >
                              <input required class="span12" type="text" name="phone" id="name" placeholder="* Enter your Phone Number" >

                             	<select class="span12" style="width:99%" name="department">
  <option>Umrah</option>
   <option>Corporate Umrah</option>
  <option>Hajj</option>
  <option>Ziyarat</option>
  <option>Holidays</option>
  </select>
                              <input class="span12" type="text" name="month"  placeholder="Preferred Month" >
                              <input type="hidden" value="Call Back Request For Umrah" name="subject">
                               <div class="captcha-style"><input type="checkbox" value="human" name="recaptcha" id="recaptcha" style="width: auto; float: left; margin-top: 7px; margin-left: 17px;">&ensp;<span style="float: left; margin-left: 6px; margin-top: 5px; font-weight: bold; color: rgb(0, 65, 121);">I am not a Robot </span></div>
<input type="submit" value="Submit" class="popform-btn">                                 </form>
                        </div>

    </div>





    <div class="header-widget">
    	<div class="mainBody top-navigation">
				<div class="row-fluid">
                	<div class="span7 pull-right">
                    	<ul class="header_widget_cont">
                            <li><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAtlasUmrah%2F&width=52&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="52" height="" style="border:none;overflow:hidden; height:20px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
                        	<li><i class="fa fa-mobile-phone"></i>  (91-22) 6141 1000</li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:info@atlastravels.com">info@atlastravels.com</a> </li>
                            <li><a href="https://www.facebook.com/AtlasUmrah/" target="_blank"><i class="fa fa-facebook"></i></a> </li>
                            <li><a href="https://twitter.com/Atlas_Umrah" target="_blank"><i class="fa fa-twitter"></i></a> </li>
                            <li><a href="https://www.youtube.com/AtlasUmrah" target="_blank"><i class="fa fa-youtube"></i> </a></li>
                            <li><a href="https://www.instagram.com/Atlas_Umrah/" target="_blank"><i class="fa fa-instagram"></i> </a></li>
                        </ul>
                    </div>
                    <div class="span5 pull-left"></div>
                </div>
    </div>
   </div>

		<header>
			<div class="mainBody top-navigation">
				<div class="row-fluid">
					<!-- Logo Start -->
						<div class="span3 logo">
							<a href="index.html"><img src="images/logo.jpg" alt="" /></a>
                            <a href="https://plus.google.com/103692544463633985359" rel="publisher"></a>
						</div>
					<!-- Logo End -->

					<div class="span9 site_menu">
						<!-- Main Menu Start -->
							<div class="menu_bar">
								<div class="layout clearfix">
									<div class="mob-layout wrap-left">

									<div class="btn-menu icon-reorder"></div>
									<ul class="menu">

                                    <li><a href="#">Umrah Packages <i class="fa fa-angle-down"></i></a>

													<ul class="submenu">

														<li><a href="http://atlasumrah.com/" target="_blank">Super Saver Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Deluxe Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Corporate Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Ramadan Umrah</a></li>


													</ul>
												</li>
                                     <li><a href="haj.html">Hajj Packages</a></li>
 												<li>	<a href="holiday-packages.html">Holiday Packages <i class="fa fa-angle-down"></i></a>

													<ul class="submenu">
														<li><a href="domestic-packages.html">Domestic Packages <i class="fa fa-angle-right"></i></a>


                                                            <ul class="submenu sb">

																	<li><a href="family-holiday.html">Family Holidays</a></li>
                                                                    <li><a href="wild-life-safari.html">Wildlife &amp; Safari</a></li>
																	<li><a href="honeymoon-tour.html">Honeymoon Tours</a></li>

															</ul>


                                                        </li>

														<li><a href="international-packages.html">International Packages <i class="fa fa-angle-right"></i></a>

                                                        	  <ul class="submenu sbs">

																	<li><a href="international-packages-americas.html">America</a></li>
																	<li><a href="international-packages-africa.html">Africa</a></li>
																	<li><a href="international-packages-asia.html">Asia</a></li>
																	<li><a href="international-packages-australia-new-zealand.html">Australia/New Zealand</a></li>
                                                                    <li><a href="europe.html">Europe</a></li>
																	<li> <a href="international-packages-middle-east.html">Middle East</a></li>
															</ul>



                                                        </li>
														<li><a href="dubai.html">Dubai<i class="fa fa-angle-right"></i></a>

                                                        	    <ul class="submenu">

																	<li class="sbt"><a href="dubai.html">December Departure</a></li>
                                                                    <li class="sbt"><a href="dubai-january-departure.html">January Departure</a></li>

															</ul>



                                                        </li>

													</ul>
												</li>







												 <li><a href="#">Services <i class="fa fa-angle-down"></i></a>

                                                 		<ul class="submenu">
														<li><a href="money-exhcange.html">Money Exchange</a></li>
														<li><a href="visas-services.html">Visa Services</a></li>
                                                        <li><a href="air-ticketing.html">Air Ticketing</a></li>

													</ul>


                                                 </li>







            <li><a href="contact.html">Contact</a></li>

            <li><a href="#">More from Atlas <i class="fa fa-angle-down"></i></a>

                                                 		<ul class="submenu">
                                                        <li><a href="prefered-agent.html">Preferred Agent</a></li>
														<li><a href="http://www.atlastravelsonline.com/" target="_blank">Atlas Online</a></li>
                                                        <li><a href="atlas-affiliate.html">Atlas Affiliates</a></li>
														<li><a target="_blank" href="http://grandresidency.com/">Hospitality Venture</a></li>
 														<li><a target="_blank" href="http://www.atlasvisaservices.com">Atlas Visa Services</a></li>

													</ul>


                                                 </li>


            <li class="last_child"><a href="http://atlastravels.com/blog/">Blog</a></li>
										</ul>
								</div>
								</div>

								<!-- Mobile Navigation -->

								<ul class="mob-menu">
									 <li>
                                     <div>
                                     <a href="#">Umrah Packages </a>
                                     <span class="btn-submenu"></span>
                                     </div>

													<ul class="mob-submenu">

														<li><a href="http://atlasumrah.com/" target="_blank">Super Saver Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Deluxe Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Corporate Umrah</a></li>
                                                        <li><a href="http://atlasumrah.com/" target="_blank">Ramadan Umrah</a></li>


													</ul>
												</li>
                                     <li>
                                     <div><a href="haj.html">Hajj Packages</a></div>
                                     </li>
 												<li>
                                                <div><a href="holiday-packages.html">Holiday Packages </a>
                                                <span class="btn-submenu"></span>
                                     			</div>

													<ul class="mob-submenu">
														<li><div><a href="domestic-packages.html">Domestic Packages</a><span class="btn-submenu"></span>
                                     </div>


                                                            <ul class="mob-submenu sb">

																	<li><a href="family-holiday.html">Family Holidays</a></li>
                                                                    <li><a href="wild-life-safari.html">Wildlife &amp; Safari</a></li>
																	<li><a href="honeymoon-tour.html">Honeymoon Tours</a></li>

															</ul>


                                                        </li>

														<li><div>
                                                        <a href="international-packages.html">International Packages</a>
                                                        <span class="btn-submenu"></span>
                                     						</div>

                                                        	  <ul class="mob-submenu sbs">

																	<li><a href="international-packages-americas.html">America</a></li>
																	<li><a href="international-packages-africa.html">Africa</a></li>
																	<li><a href="international-packages-asia.html">Asia</a></li>
																	<li><a href="international-packages-australia-new-zealand.html">Australia/New Zealand</a></li>
                                                                    <li><a href="europe.html">Europe</a></li>
																	<li> <a href="international-packages-middle-east.html">Middle East</a></li>
															</ul>



                                                        </li>
														<li><div><a href="dubai.html">Dubai</a>
                                                        <span class="btn-submenu"></span>
                                     </div>

                                                        	    <ul class="mob-submenu">

																	<li class="sbt"><a href="dubai.html">December Departure</a></li>
                                                                    <li class="sbt"><a href="dubai-january-departure.html">January Departure</a></li>

															</ul>



                                                        </li>

													</ul>
												</li>







												 <li><div><a href="#">Services </a><span class="btn-submenu"></span>
                                     </div>

                                                 		<ul class="mob-submenu">
														<li><a href="money-exhcange.html">Money Exchange</a></li>
														<li><a href="visas-services.html">Visa Services</a></li>
                                                        <li><a href="air-ticketing.html">Air Ticketing</a></li>

													</ul>


                                                 </li>







            <li><div><a href="contact.html">Contact</a></div></li>

            <li><div><a href="#">More from Atlas </a>
            <span class="btn-submenu"></span>
                                     </div>

                                                 		<ul class="mob-submenu">
                                                        <li><a href="prefered-agent.html">Preferred Agent</a></li>
														<li><a href="http://www.atlastravelsonline.com/" target="_blank">Atlas Online</a></li>
                                                        <li><a href="atlas-affiliate.html">Atlas Affiliates</a></li>
														<li><a target="_blank" href="http://grandresidency.com/">Hospitality Venture</a></li>
 														<li><a target="_blank" href="http://www.atlasvisaservices.com">Atlas Visa Services</a></li>

													</ul>


                                                 </li>

               <li><a href="http://atlastravels.com/blog/">Blog</a></li>

								</ul>
							</div>


						<!-- Main Menu End -->
					</div>




				</div>
			</div>
		</header>


		<div class="maincontent">

			<div class="sequence-theme sq_main1">

				<img class="sequence-prev" src="img/slider/prev.png" alt="Previous Frame" />
				<img class="sequence-next" src="img/slider/next.png" alt="Next Frame" />

				<div class=" slider_wrapper">
					<div class="row-fluid">


                    <div class="fullwidth">
                    <div class=" ">
                    	<div class="">
                        <div id="main-slier" class="skdslider">

 <!--<div class="mainBody">
 <div class="open_form">Let Us Serve You</div>
   <div class="span4 news_updates">
   <span class="fa fa-times close_form"></span>
                         <div class="quick_form span12">

                        <h3>Let Us Serve You <small>Provide your Details for Regular Updates and Offers</small></h3>
                         	<form  action="thank.asp" method="post">
                              <input type="text" required placeholder="* Enter your name" id="name" name="name">
                              <input type="text" required placeholder="* Enter your Email" id="name" name="email">
                              <input type="text" required placeholder="* Enter your Phone Number" id="name" name="phone">

                             	<select name="department" style="width:99%">
  <option>Umrah</option>
    <option>Corporate Umrah</option>
  <option>Hajj</option>
  <option>Ziyarat</option>
  <option>Holidays</option>
  </select>

                              <input type="submit" value="Submit" >
                                 </form>
                        </div>
                         </div> </div>-->

 <ul>
 <li><a href="http://atlastravels.com/ziyarat.html" target="_blank"><img src="http://atlastravels.com/slides/gyarvee-shareef.jpg" alt="Hajj 2015" class="atlas-slide1" /></a></li>
  <li><a href="http://atlasumrah.com/" target="_blank"><img src="slides/umrah-2017.jpg" alt="Hajj 2015" class="atlas-slide1" /></a></li>
 <li><a href="dubai.html"><img src="slides/3.jpg" alt="dubai tour" class="atlas-slide2" /></a></li>

<li><a href="http://atlasumrah.com/"><img src="slides/2.jpg" alt="Umrah 2014 - 2015" class="atlas-slide1" /></a></li>
<li><a href="http://atlasumrah.com/"><img src="slides/1.jpg" alt="Umrah 2014 - 2015" class="atlas-slide1" /></a></li>

<li><a href="dubai.html"><img src="slides/4.jpg" alt="dubai tour" class="atlas-slide2" /></a></li>
<li><a href="dubai.html"><img src="slides/5.jpg" alt="dubai tour" class="atlas-slide2" /></a></li>
<!--<li><a href="malaysia-singapore.html"><img src="slides/malasiya.jpg" alt="Malaysia- Singapore Tour" class="atlas-slide3" /></a></li>-->





</ul>
</div>

                        </div>

                    </div>
                        </div>



     			</div>
				</div>
			</div>

			<div class="mainBody hhatlas">
				<div class="mainFeature featurePage3">
					<div class="row-fluid">
						<h2 class="text-center Titles">Divinity | Sanctity | Purity</h2>
						<ul class="text-center Titles_text">
                        <li><strong>30 years</strong> of Expertise and Experience</li>
                        <li>Setting benchmarks for the highest standard of services</li>
                        <li>In-depth knowledge of Travel Industry</li>
                        <li>Catering to all kinds of requirements in the Travel domain </li>
</ul>
						<div class="clear"></div>



					</div>
				</div>
















				<div class="latest_pimg">

                    <!-- CORPORATE UMRAH-->
                    <div class="row-fluid pilgrim_tours">

                    <div class="section_header">
                        <h2 class="text-left">Umrah Tours
<script type="text/javascript">
var currentTime = new Date()
var year = currentTime.getFullYear().toString().substr(-2);
var PastYear = (currentTime.getFullYear() - 1);
document.write(PastYear +"-"+ year);
</script>
<a href="#popup_form" rel="prettyPhoto"><i class="phone_icon"></i> <span>Request a Call Back for Details on Umrah <script type="text/javascript">
var currentTime = new Date()
var year = currentTime.getFullYear().toString().substr(-2);
var PastYear = (currentTime.getFullYear() - 1);
document.write(PastYear +"-"+ year);
</script> </span></a></h2>

                    </div>

						<ul class="thumbnails latest_pro da-thumbs umrah_packages">



                        <!--<li class="span8">
                            <div class="clu" >
							  <a title="Umrah Tour Operator in Mumbai" href="umrah.html" class="thumbnail pilgrim-thumb"><img alt="Umrah Tour Operator in Mumbai" title="Umrah Tour Operator in Mumbai" src="img/portfolio/Umrah-tour.png" />
                              <span class="thumb_captions"> The Blessings of <strong>Umrah O Allah,</strong> cause us to die Muslims <br>and join us with the righteous</span></a>
							  <h3 class="text-center"><a title="Umrah Tour Packages" href="umrah.html"> Group Umrah</a></h3>
                              <div class="overlay">
                               <h3 class="text-left"><a title="Haj Tour" href="haj.html">Umrah - 10 April</a></h3>
							  <p class="text-left sans14"><a title="Haj Tour" href="haj.html">Spirituality at its best</a></p>

                              <ul class="home_schedule">
                              	<li><strong>Group 1 - <span class="green">From Rs. 80,000</span></strong>
                                	<ul class="home_schedule_itinaries">
                                    	<li><span>Departure</span> <strong>12<sup>th</sup> Sep</strong></li>
                                        <li><span>Days</span> <strong>15 Days</strong></li>
                                        <li><span>Hotel in Makkah</span> <strong>Hotel Al Massan</strong></li>
                                        <li><span>Hotel in Madinah</span> <strong>Hotel Elaf Tiaba</strong></li>
                                        <li><span>Return</span> <strong>27 Sep</strong></li>
                                    </ul>
                                </li>

                                <li></li>
                                <li></li>
                              </ul>


                              <a href="haj.html" class="button_yellow">Know More</a> <a href="#" class="button_yellow">Next Gorup</a>
                              </div>



                                  </div>
							</li>-->

                         <li class="span4 corporate_umrah">
							  <a title="Haj Tour" href="http://atlasumrah.com/" class="thumbnail pilgrim-thumb"><img alt="Haj Tour" title="Haj Tour" style="border:inset 5px solid #eee;" src="img/portfolio/umrah_tour.jpg"  /></a>

                              <h3 class="text-center"><a title="Umrah Tour Packages" href="http://atlasumrah.com/">Umrah  <script type="text/javascript">
var currentTime = new Date()
var year = currentTime.getFullYear().toString().substr(-2);
var PastYear = (currentTime.getFullYear() - 1);
document.write(PastYear +"-"+ year);
</script></a></h3>

							   <article class="da-slideFromBottom da-animate da-slideTop">


                              <ul class="pagekage-hover ">

                     <h1><a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">Umrah <script type="text/javascript">
var currentTime = new Date()
var year = currentTime.getFullYear().toString().substr(-2);
var PastYear = (currentTime.getFullYear() - 1);
document.write(PastYear +"-"+ year);
</script></a></h1>

                      <a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">
                    <p>  Atlas Tours has been very successful in catering to thousands of passengers, having achieved the highest rank and being one of the best in the Industry for the last <strong class="bix_text">30 years</strong>. Atlas Devised a Package to fulfill the dreams of millions to perform Umrah with the comfort of flying directly from 5 metro cities in India with a series of Departures to enable the pilgrims to travel at their convenience. Having set the service levels high along with top hotels in close proximity to the Holy Haram in Makkah & Madinah has enabled us to cater to many every year. </p>

                      </a>


				</ul>


								</article>

							</li>

                         <li class="span4 corporate_umrah">
							  <a title="Haj Tour" href="http://atlasumrah.com/" class="thumbnail pilgrim-thumb"><img alt="Haj Tour" title="Haj Tour" style="border:inset 5px solid #eee;" src="img/portfolio/corporate_umrah.jpg"  /></a>

                              <h3 class="text-center"><a title="Umrah Tour Packages" href="http://atlasumrah.com/">Corporate Umrah</a></h3>

							   <article class="da-slideFromBottom da-animate da-slideTop">


                              <ul class="pagekage-hover ">

                     <h1><a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">Corporate Umrah</a></h1>

                      <p class="clmnatls"> <a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">
<strong class="bix_text">30 years of Experience</strong> <br> has taught us many things and the most important thing is to KEEP Innovating" <br>
"Hence <strong class="bix_text">Corporate Umrah</strong> <br>
is for those who want the best and appreciate good things in Life" After a thorough research this program is designed keeping you in mind with the minutest detailing.</a></p>
<a href="#popup_form" rel="prettyPhoto" class="know_more">Click Here for a Call Back for more details</a>

				</ul>


								</article>

							</li>
                        <li class="span4 corporate_umrah">
							  <a title="Haj Tour" href="http://atlasumrah.com/" class="thumbnail pilgrim-thumb"><img alt="Haj Tour" title="Haj Tour" style="border:inset 5px solid #eee;" src="img/portfolio/ramadan_in_umrah.jpg"  /></a>

                              <h3 class="text-center"><a title="Umrah Tour Packages" href="http://atlasumrah.com/">Ramadan Umrah</a></h3>

							   <article class="da-slideFromBottom da-animate da-slideTop">


                              <ul class="pagekage-hover ">

                     <h1><a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">Ramadan Umrah</a></h1>

                      <p class="clmnatls"> <a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">
Atlas Tours has been very successful in catering to thousands of passengers, having achieved the highest rank and being one of the best in the Industry for the last 28 years. We have designed the Ramzan Umrah Package having set the service levels high along with top hotels in close proximity to the Holy Haram in Makkah & Madinah has enabled us to cater the regular travellers as well as new Pilgrims intending to perform Umrah in Ramzan. Having a large market share enables Atlas to have the bargaining power with all suppliers which in return is very economical to the Pilgrims</a></p>


				</ul>


								</article>

							</li>
 						</ul>

					</div> <!-- CORPORATE UMRAH -->
                    </div>






                    <div class="latest_pimg">
                     <!-- HAJJ & ZIYARAT-->
                    <div class="row-fluid pilgrim_tours">

                    <div class="section_header">
                        <h2 class="text-left">Hajj & Ziyarat Tours <small>Get in touch with your spiritual side</small></h2>

                    </div>

						<ul class="thumbnails latest_pro da-thumbs home-second-block">



                       	<li class="span6">
							  <a title="Haj Tour" href="haj.html" class="thumbnail pilgrim-thumb"><img alt="Haj Tour" title="Haj Tour" style="border:inset 5px solid #eee;" src="img/portfolio/Haj-tour.png"  /></a>

                              <h3 class="text-left"><a title="Umrah Tour Packages" href="hajj.html">Hajj <small>Spirituality at its best</small></a></h3>

							   <article class="da-slideFromBottom da-animate da-slideTop">


                              <ul class="pagekage-hover ">

                     <h1><a title="Umrah Tour Operator in Mumbai" href="umrah.html">Hajj</a></h1>

                      <p class="clmnatls"> <a title="Umrah Tour Operator in Mumbai" href="http://atlasumrah.com/">

<strong>Atlas</strong> started with a noble objective in mind to help the community fulfill the obligation of a lifetime and to enable pilgrims to travel to Islam's holiest shrines in comfort and dignity </a></p>
				</ul>


								</article>

							</li>





                            <li class="span6" >

                             <h3 style="background: none repeat scroll 0% 0% transparent;" class="text-left"><a title="Ziyarat Tour" style="width: 100%; display: block; position: relative; float: left; text-align: left; border-bottom: 1px solid rgb(238, 238, 238); padding: 0px 0px 17px; margin-bottom: 9px;">Let Us Serve You <small style="text-align: left; display: block; float: left; width: 100%; position: absolute; left: 0px; margin-top: 20px;">Provide your Details for Regular Updates and Offers</small></a></h3>

                         	<form method="post" action="homepage.php">
                              <input type="text" name="name" id="name" placeholder="* Enter your name" required>
                              <input type="text" name="email" id="name" placeholder="* Enter your Email" required>
                              <input type="text" style="width: 45.9%;" name="phone" id="name" placeholder="* Enter your Phone Number" required>

                              <select style="height: 39px; width: 47%;" name="department">
  <option>Umrah</option>
    <option>Corporate Umrah</option>
  <option>Hajj</option>
  <option>Ziyarat</option>
  <option>Holidays</option>
  </select>
  <input type="hidden" value="Let Us Serve You" name="subject">
    <div class="g-recaptcha" data-sitekey="6Lf6OgYTAAAAAPNOLOca7Y0_Fa7lWINtCf-OVsEc"></div>
<input type="submit" value="Submit" style="border: 0px none; background: none repeat scroll 0% 0% rgb(0, 65, 121); color: rgb(255, 255, 255); float: left; width: 58%; height:43px">
</form>


							</li>
 						</ul>

					</div> <!-- CORPORATE UMRAH -->










                    <div style="width:980px; border:none;margin-top: 50px; background:transperent;box-shadow:none;" class="carouselclients mainfeature3">


								<div class=" jcarousel-skin-tango-clients"><div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 1080px;" id="mycarousel_fet1" class="jcarousel-list jcarousel-list-horizontal">

                                    <li class="view1 view-first jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" style="float: left; list-style: none outside none; width: 231px;" jcarouselindex="1">

											<div class="ficon">
												<p class="featute_sl1">
												</p><h3 class="text-left titles">Ingenious</h3>
											</div>
											<div class="clear"></div>
											<p class="text-left sans14">We value innovation and believe that travel is a surprise which amazes, impresses, and inspires</p>


									</li>

									<li class="view1 view-first jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style: none outside none; width: 231px;" jcarouselindex="2">

											<div class="ficon">
												<p class="featute_sl2">
												</p><h3 class="text-left titles">Progressive</h3>
											</div>
											<div class="clear"></div>
											<p class="text-left sans14">If there’s a better way to travel - and there always is - well, we’re on top of it</p>


									</li>

									<li class="view1 view-first jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style: none outside none; width: 231px;" jcarouselindex="3">

											<div class="ficon">
												<p class="featute_sl3">
												</p><h3 class="text-left titles">Collaborative</h3>
											</div>
											<div class="clear"></div>
											<p class="text-left sans14">We believe the whole is greater - better - than the talents of any single contributor</p>


									</li>

									<li class="view1 view-first jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: none outside none; width: 231px;" jcarouselindex="4">

											<div class="ficon">
												<p class="featute_sl4">
												</p><h3 class="text-left titles">Responsible</h3>
											</div>
											<div class="clear"></div>
											<p style="margin-bottom:30px;" class="text-left sans14">We believe taking a pilgrim is the most divine form of travel</p>



									</li>



								</ul></div><div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal" style="display: block;" disabled="disabled"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div></div>

						</div>










                    <div class="row-fluid holiday_tours_home">
					<div class="section_header">
                        <h2 class="text-left">Package Tours <small>Everyone loves versatility</small></h2>

                    </div>
						<ul class="thumbnails latest_pro da-thumbs holiday_tours">

							<li class="span4">
							  <a href="#" class="thumbnail"><img src="img/portfolio/project1.png" alt="" /></a>
							  <h3 class="text-center"><a href="domestic-packages.html">Domestic Package</a></h3>
                              <p class="text-center sans14"><a href="domestic-packages.html">Explore your home country</a></p>
							 								<article class="da-slideFromBottom da-animate da-slideTop">

                                    <ul class="pagekage-hover">
					<h1><a href="domestic-packages.html">Domestic Packages</a></h1>
					<li><a href="family-holiday.html">Family Holidays</a></li>
					<li><a href="wild-life-safari.html">Wildlife &amp; Safari</a></li>
					<li><a href="honeymoon-tour.html">Honeymoon Tours</a></li>
				</ul>

								</article>
							</li>

							<li class="span4">
							  <a href="international-packages.html" class="thumbnail"><img src="img/portfolio/project2.png" alt="" /></a>
							  <h3 class="text-center"><a href="international-packages.html">International Package</a></h3>
                              <p class="text-center sans14"><a href="international-packages.html">Your heart is made to travel the world</a>
</p>
								<article class="da-slideFromBottom da-animate da-slideTop">

                               <ul class="pagekage-hover">
					<h1><a href="international-packages.html">International Packages</a></h1>
					<li><a href="international-packages-americas.html">America</a></li>
					<li><a href="international-packages-africa.html">Africa</a></li>
					<li><a href="international-packages-asia.html">Asia</a></li>
					<li><a href="international-packages-australia-new-zealand.html">Australia / New Zealand</a></li>
					<li><a href="international-packages-middle-east.html">Middle East</a></li>
				</ul>

                        		</article>
							</li>

							<li class="span4">
							  <a href="dubai.html" class="thumbnail"><img src="img/portfolio/project3.png" alt="" /></a>
							  <h3 class="text-center"><a href="dubai.html">Group Departures</a></h3>
							  <p class="text-center sans14">Trip with a group of friends or family</p>
								<article class="da-slideFromBottom da-animate da-slideTop">
					 <ul class="pagekage-hover">

                     <h1><a href="dubai.html">Group Departures</a></h1>
					  <p> <a href="dubai.html">Planning a trip with a group of friends or family makes it more fun than ever.
We at Atlas have offers that gets you great value for money. We've always been proud to offer the best experience at a fair price.
</a></p>
				</ul>



								</article>
							</li>

						</ul>

					</div>




				</div>
			</div>




            <div class="row-fluid">
      <div class="span12">
        <div id="parallax-one" class="parallax" style="background-image:url(img/1.jpg);">
          <div class="parallax-text-container">
            <div class="parallax-text-item1">
              Wish to avail our expert services<br>
              <span class="parallax-text-item-2"><button type="button" onClick="window.location.href='contact.html'" class="btn btn-danger button_ynoshadow home-btn">GET A QUOTE NOW</button></span>
            </div>
          </div>
        </div>
      </div>
    </div>



			<div class="mainBody">


				<div class="row-fluid recent_tab">

					<div class="span6">
						<h2 class="text-center Titles">News and Events</h2>
						<p class="text-center Titles_text">All the action at Atlas Tours & Travels</p>

						<div class="homeBlog fleft">



							<section class="recentBlogs fleft">
								<section class="newsdate fleft">
								   <div class="recentNewsDate">07</div>
								<p class="text-center recentNewsmonth">Feb</p>
								</section>
								<div class="news_info fleft">
									<h4><a href="#" >OTM - India's Mega Travel Trade Show </a></h4>

									<p class="blogs_news">ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event. OTM is India's Mega Travel Trade Show with over 15000 Trade Visitors from 70 Countries and 30 Indian states held at the Bombay Convention & Exhibition Centre (BCEC), Mumbai, India.</p>
                            </div>



                <div class="span3"><a href="images/news5.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news5.jpg" /></a></div>

<div class="span3"><a href="images/news2.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news2.jpg" /></a></div>

<div class="span3"><a href="images/news1.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news1.jpg" /></a></div>

<div class="span3"><a href="images/news3.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news3.jpg" /></a></div>

<div class="span3"><a href="images/news4.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news4.jpg" /></a></div>

<div class="span3"><a href="images/news6.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news6.jpg" /></a></div>

<div class="span3"><a href="images/news7.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news7.jpg" /></a></div>

<div class="span3"><a href="images/news8.jpg" rel="prettyPhoto[pp_gal]" title="ATLAS TOURS & TRAVELS at the OTM Mumbai 2014 event."><img src="images/news8.jpg" /></a></div>






							</section>



						</div>
					</div>



						<div class="span6 tabs_sys" id="hometab">
							<h2 class="text-center Titles">Media</h2>
							<p class="text-center Titles_text">Promos, Downloads and more...</p>

							<div class="home_tab home_tab5">

								<ul id="myTab" class="nav nav-tabs">
									<li class="active text-center first-tab"><a href="#tab1" data-toggle="tab">Domesitc Promos</a></li>
									<li class="text-center"><a href="#tab2" data-toggle="tab">Int'l-promos</a></li>
									<li class="text-center"><a href="#tab3" data-toggle="tab">Downloads</a></li>
								</ul>

								<div id="myTabContent" class="tab-content">

									<div class="tab-pane fade active in" id="tab1">
										<div class="tab-text">



                                          <div class="span12 none" id="video1-box">
                                       <p class="video-back">Back</p>

                                        <iframe width="100%" height="280" src="http://www.youtube.com/embed/gF_dSdtzj_0" frameborder="0" allowfullscreen></iframe>

                                       </div>


                                        <div class="span13 none" id="video2-box">
                                       <p class="video-back">Back</p>



                                  <iframe width="100%" height="280" src="http://www.youtube.com/embed/YePoYJsQSgQ" frameborder="0" allowfullscreen></iframe>

                                       </div>


                                       <div class="span13 none" id="video3-box">
                                       <p class="video-back">Back</p>


                                  <iframe width="100%" height="280" src="http://www.youtube.com/embed/Duvwdo0RaqQ" frameborder="0" allowfullscreen></iframe>

                                       </div>


                                         <div class="span13 none" id="video4-box">
                                       <p class="video-back">Back</p>

                                       <iframe width="100%" height="280" src="http://www.youtube.com/embed/sbscLzn0_f4" frameborder="0" allowfullscreen></iframe>
                                       </div>


                                       <!--australi-->









                                            <div class="row-fluid domestic-video">
                                        <div class="span6 pointer-cursor" id="video1">
                                        <p class="video-title">Gujrat</p><img src="img/home-video-thumb.jpg" alt="Tour operator for Gujarat" title="Gujarat Tour" />
                                        </div>

                                        <div class="span6 pointer-cursor" id="video2"><p class="video-title">Rajasthan</p><img src="img/rajhastan-tour.jpg" alt="Tour operator for Rajasthan" title="Rajasthan Tour" /></div>
                                           </div>




                                             <div class="row-fluid domestic-video" style="margin-top:9px;">
                                        <div class="span6 pointer-cursor" id="video3"><p class="video-title">Kashmir</p><img src="img/kashmir.jpg" alt="Tour operator for Kashmir" title="Kashmir Tour" /></div>

                                        <div class="span6 pointer-cursor" id="video4"><p class="video-title">Kerala</p><img src="img/kerala-video-thumb.jpg" alt="Tour operator for Kerala" title="Kerala Tour" /></div>
                                           </div>





										</div>
									</div>

									<div class="tab-pane fade" id="tab2">
										<div class="tab-text">


                                        <div class="span13 none" id="video5-box">
                                       <p class="video-back">Back</p>


                                       <iframe width="100%" height="280" src="http://www.youtube.com/embed/82n1PX1hVEY" frameborder="0" allowfullscreen></iframe>

                                       </div>


                                       <div class="span13 none" id="video6-box">
                                       <p class="video-back">Back</p>

                                                 <iframe width="100%" height="280" src="http://www.youtube.com/embed/yRmiC-Y-b6g" frameborder="0" allowfullscreen></iframe>


                                       </div>


                                        <div class="span13 none" id="video7-box">
                                       <p class="video-back">Back</p>



                                                 <iframe width="100%" height="280" src="http://www.youtube.com/embed/kcftwdM02_o" frameborder="0" allowfullscreen></iframe>


                                       </div>

                                           <div class="span13 none" id="video8-box">
                                       <p class="video-back">Back</p>





                                                   <iframe width="100%" height="280" src="http://www.youtube.com/embed/qyIPMRci7Xw" frameborder="0" allowfullscreen></iframe>



                                       </div>




                                            <div class="row-fluid internaional-video">
                                        <div class="span6 pointer-cursor" id="video5"><p class="video-title">Australia</p><img src="img/australian-video-thumb.jpg" alt="Tour operator for Australia" title="Australia tour" /></div>
                                        <div class="span6 pointer-cursor" id="video6"><p class="video-title">Egypt</p><img src="img/egypt-video-thumb.jpg" alt="Tour operator for Egypt" title="Egypt tour" /></div>
                                           </div>

                                             <div class="row-fluid internaional-video" style="margin-top:9px;">
                                        <div class="span6 pointer-cursor" id="video7"><p class="video-title">Europe</p><img src="img/Euorpe-video-thumb.jpg" alt="Tour operator for Europe" title="Europe tour" /></div>
                                        <div class="span6 pointer-cursor" id="video8"><p class="video-title">Maldives</p><img src="img/maldives.jpg" alt="Tour operator for Maldives" title="Maldives tour"/></div>
                                           </div>

                                            </div>
									</div>

									<div class="tab-pane fade" id="tab3">
										<div class="tab-text">
									<p>Click on any of the thumbnail below for brochure download.</p>



                                     <div class="row-fluid ">
                                     	<div class="span4" ><p class="video-title2" style="color:#333;">Company Profile</p><img alt="Profile of Atlas Tours &amp; Travels" title="Profile of Atlas Tours &amp; Travels" src="img/company-profile.jpg" /></div>
                                        <div class="span4"><p class="video-title2">Haj Tour 2014</p><a title="Haj Tour Programme 2012" href="media/Haj-Tour-2012-leaflet.pdf" target="_blank"><img alt="Haj Tour Programme 2012" title="Haj Tour Programme 2012" src="img/hajj-tour.jpg" /></a></div>
                                        <div class="span4"><p style="font-size:13px;" class="video-title2">Umrah Packages 2014</p><img alt="Umrah Packages Mumbai 2014" title="Umrah Packages Mumbai 2014" src="img/umrah-2014.jpg" /></div>
                                     </div>

                                      <div class="row-fluid" style="margin-top:9px;">
                                     	<div class="span4"><p class="video-title2">Corporate Umrah</p><a title="Corporate Umrah packages Mumbai" href="media/corporate-umrah-2013.pdf" target="_blank"><img alt="Corporate Umrah packages Mumbai" title="Corporate Umrah packages Mumbai" src="img/corporate-umrah-thumb.jpg" /></a></div>
                                        <div class="span4"><p class="video-title2">International Travel</p><a href="media/Dubai-Brochure-High-Definition.PDF"  target="_blank"><img alt="International Tourism" title="International Tourism" src="img/inernational-tourisam-thumb.jpg" /></a></div>
                                        <div class="span4"><p class="video-title2">Domestic Travel</p><img alt="Domestic Travel" title="Domestic Travel" src="img/domestic-thumb.jpg" /></div>
                                     </div>








                                            </div>
									</div>

								</div>
							</div>
						</div>
				</div>




			</div>



		</div>

<div class="ffull">
		<footer class="footer">
			<div class="mainBody">
					<div class="row-fluid">


						<div class="span6 copyright">
						<p>All rights reserved | Copyright 2017 Atlas Tours and Travels </p>
						</div>

                        <div class="span6 mobile_hide">

                        <ul class="social-footer">

<li><a href="https://www.facebook.com/AtlasUmrah/?ref=ts" target="_blank"><img src="img/fb.png" alt="Atlas Tour Operators on Facebook"></a></li>

</ul>


						</div>




				</div>
			</div>
		</footer>
</div>

		  <span class="backToTop"><a href="#top">back to top</a></span>

<script src="js/slider/js/jquery.flexslider-min.js"></script>
<script src="js/slider/js/jquery.nivo.slider.pack.js"></script>
<script src="js/slider/js/jquery.isotope.min.js"></script>
<script src="js/slider/js/jquery.mCustomScrollbar.concat.min.js"></script>



<script src="js/slider/js/animate.js"></script>
<script src="js/slider/js/jquery.fitvids.js"></script>
<script src="js/slider/js/retina.js"></script>
<script src="js/slider/js/respond.min.js"></script>
<script src="js/slider/js/jquery.parallax-1.1.3.js"></script>
<script src="js/slider/js/jquery.refineslide.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/jquery-hover-effect.js"></script>
<script type="text/javascript" src="js/according/highlight.pack.js"></script>
<script type="text/javascript" src="js/according/jquery.cookie.js"></script>
<script type="text/javascript" src="js/according/jquery.accordion.js"></script>
<script type="text/javascript" src="js/shortcode/accordion-shortcode.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script><!--Pretty Photo-->
<script type="text/javascript" src="js/shortcode/prettyPhoto-shortcode.js"></script><!--js for Our Client-->
        <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->




	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46477270-1', 'atlastravels.com');
  ga('send', 'pageview');

</script>

	</body>
</html>
